<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>405 - Method Not Allowed | TALOMS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/css/taloms.css}" rel="stylesheet">
    <link th:href="@{/css/error.css}" rel="stylesheet">
</head>
<body class="error-page-wrapper">
<div th:replace="~{fragments/error-layout :: page(
    'bi bi-hand-index', 405,
    'Method Not Allowed',
    'The HTTP method you used is not allowed for this resource. Please use the correct method.',
    '/dashboard', 'text-info'
)}"></div>
</body>
</html>