<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${errorTitle} + ' | TALOMS'">Error | TALOMS</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link th:href="@{/css/taloms.css}" rel="stylesheet">
    <link th:href="@{/css/error.css}" rel="stylesheet">
</head>
<body class="error-page-wrapper">
    <div th:replace="~{fragments/error-layout :: page(
    ${errorIcon}, ${status}, ${errorTitle}, ${errorDescription}, ${homeUrl}, ${errorColor}
)}"></div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
